
@keyframes dialog-center-open {
	0%{
		height: 0;
	}
	100%{
		height: 100%;
	}
}

@keyframes dialog-bottom-open {
	0%{
		height: 0;
	}
	100%{
		height: calc(100% - 40px);
	}
}

@keyframes dialog-base-open {
	0%{
		height: 0;
	}
	100%{
		height: 100%;
	}
}

@keyframes edit-base-open {
	0%{
		height: 0;
	}
	100%{
		height: calc(100% - 40px);
	}
}

@keyframes dialog-contents-open {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes dialog-center-close {
	0%{
		height: 100%;
	}
	100%{
		height: 0;
	}
}

@keyframes dialog-bottom-close {
	0%{
		height: calc(100% - 40px);
	}
	100%{
		height: 0;
	}
}

@keyframes dialog-base-close {
	0%{
		height: 100%;
	}
	100%{
		height: 0;
	}
}

@keyframes edit-base-close {
	0%{
		height: calc(100% - 40px);
	}
	100%{
		height: 0;
	}
}

@keyframes dialog-contents-close {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
