
@mixin dialog($type: 'center') {

	position: absolute;
	@include z(edit);
	@if $type == 'center' {
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	@else {
		bottom: 40px;
		left: 0;
		right: 0;
	}
	width: 100%;
	height: 0;
	overflow: hidden;

	background: rgba(#e6e6e6, 0.9);
	color: #000000;

	display: flex;
	justify-content: center;
	align-items: center;

	>.wrap{
		opacity: 0;
		max-width: 440px;

		h2{
			font-size: 12px;
			@include sans_bold;
		}

		dl{
			margin-top: 10px;

			dt{
				font-size: 14px;
				margin: 10px 0 0 0;

				&:first-child{
					margin-top: 0;
				}
			}

			dd{
				display: flex;

				span{
					display: block;
					font-size: 16px;
					line-height: 32px;
				}

				input[type="text"]{
					font-size: 16px;
					line-height: 32px;
					padding: 0 0.5em;
					line-height: 32px;
					border: 1px solid #999999;
					border-radius: 3px;
				}
			}

			&.item-list{
				width: 400px;
				height: 400px;
				overflow: auto;

				dt{
					margin: 0;
					@include sans_bold;
				}
				dd{
					margin: 0;
					padding: 0 0 0 1em;
				}
			}
		}

		.buttons{
			margin: 20px 0 0 0;
			display: flex;
			justify-content: center;

			li{
				margin: 0 0 0 10px;
				&:first-child{
					margin-left: 0;
				}

				a,
				button,
				input[type="submit"],
				input[type="image"]{
					display: block;
					border: none;
					background: $color_orange;
					color: #ffffff;
					padding: 0 20px;
					font-size: 14px;
					height: 32px;
					line-height: 32px;
					text-decoration: none;
				}
			}
		}
	}

	&.open{
		@if $type == 'center' {
			animation: dialog-center-open 0.5s $bez_standard forwards;
		}
		@else{
			animation: dialog-bottom-open 0.5s $bez_standard forwards;
		}

		>.wrap{
			animation: dialog-contents-open 0.5s $bez_standard 0.5s forwards;
		}
	}

	&.close{
		>.wrap{
			animation: dialog-contents-close 0.5s $bez_standard both;
		}

		@if $type == 'center' {
			animation: dialog-center-close 0.5s $bez_standard 0.5s both;
		}
		@else{
			animation: dialog-bottom-close 0.5s $bez_standard 0.5s both;
		}
	}
}
