
.edit-dialog{
	@include dialog('center');
	@include z(edit);
	background: rgba(#e6e6e6, 0.9);
	color: #000000;

	>.wrap{
		// h2{
		// 	color: #000000;
		// }
                //
		// dl{
		// 	dt{
		// 		color: #000000;
		// 	}
                //
		// 	dd{
		// 		color: #000000;
		// 	}
		// }
	}
}


.add-dialog{
	>.wrap{
		dl{
			dd{
				input[name="add-label-group"]{
					width: 100px;
				}

				input[name="add-label-name"]{
					width: 250px;
				}

				input[name="add-path"]{
					width: 378px;
				}
			}
		}
	}
}


.remove-dialog{
	>.wrap{
		.item-list{
			dd{
			}
		}
	}
}
