
.error-dialog{
	@include dialog('center');
	@include z(error);
	background: rgba(#000000, 0.8);
	color: #ffffff;

	>.wrap{
		h2{
		}

		.code{
			font-size: 12px;
		}

		.message{
			margin-top: 10px;
		}

		.help{
			margin-top: 10px;
			font-size: 12px;
		}
	}
}
