/**
 * main
 */

.main{
	color: #ffffff;
	background: #1e1e1e;

	.main-header{
		background: #000000;
		padding: 4px 10px;
		h1{
			@include sans_light;
			font-size: 11px;
			color: #666666;
			text-align: right;
		}
	}
	main{
		.current-info{
			margin: 20px 20px 0 20px;
			line-height: 1;

			h2{
				font-size: 11px;
				@include sans_medium;
			}

			p{
				margin: 10px 0 0 0;
				&.label{
					font-size: 16px;
				}

				&.path{
					font-size: 12px;
					@include monospace;
				}
			}
		}

		.select-form{
			margin: 20px 20px 0 20px;

			.selector{
				select{
					outline: 0;
					width: 100%;
					height: 400px;
					background: #d6d6d6;
					border: none;
					border-radius: 7px;
					padding: 7px 0;
					box-shadow: 0 0 10px rgba(#000000, 0.5) inset;

					font-size: 16px;
					line-height: 1;

					option{
						background: transparent;
						@include sans_regular;
						font-size: 16px;
						line-height: 1;
						padding: 4px 7px;

						&[selected]{
							background: #cc0000;
							color: #ffffff;
						}

						// &:checked{
						// 	background: #333333;
						// 	color: #ffffff;
						// }

						&.gf{
							border-top: 1px dotted #333333;
						}

						&:first-child{
							&.gf{
								border-top: none;
							}
						}
					}
				}
			}

			.buttons{
				position: fixed;
				left: 0;
				bottom: 0;
				width: 100%;
				$h: 40px;

				ul{
					height: $h;
					@include flexbox;

					li{
						width: 25%;
						height: $h;

						input,
						button{
							display: block;
							box-sizing: border-box;
							width: 100%;
							height: $h;
							border: none;
							color: #ffffff;
							font-size: 16px;
							@include letterSpacing(300);
						}

						input{
							background: $color_orange;
						}

						button{
							background: $color_blue;
						}
					}
				}
			}
		}
	}
}
