
.success-dialog{
	@include dialog('center');
	@include z(success);

	background: rgba(#ffffff, 0.9);
	color: #000000;

	>.wrap{
		h2{
			color: $color_orange;
		}
		h3{
			font-size: 12px;
			@include sans_bold;
		}

		.label{
			margin-top: 5px;
			font-size: 20px;
		}

		.path{
			margin-top: 5px;
			font-size: 12px;
		}
	}
}
