@import "../../__sass/reset";
@import "../../__sass/vars";
@import "../../__sass/mixins";
@import "../../__sass/fonts";



html{
}

body{
	font-size: 16px;
	line-height: (30/16);
	@include letterSpacing(60);
	@include sans_light;
	-webkit-font-size-adjust: 100%;

	height: 100%;

	&.freeze{
		width: 100%;
		position: fixed;
	}
}

input,
button,
select,
textarea{
	appearance: none;
	outline: 0;
}

input[type="checkbox"]{
	width: 18px;
	height: 18px;
	border: 1px solid #666666;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.8em 0 0;

	@mixin checkmark {
		content: '';
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: block;
		height: 3px;
		background: #cc0000;
		opacity: 0;
		transition: opacity 0.3s;
	}

	&:before{
		width: 10px;
		@include checkmark;
		transform:
			translate3d(-2.5px, 0, 0)
			rotate(60deg)
		;
	}

	&:after{
		width: 20px;
		@include checkmark;
		transform:
			translate3d(2.5px, -3px, 0)
			rotate(-60deg)
		;
	}

	&:checked{
		&:before,
		&:after{
			opacity: 1;
		}
	}
}


a{
	&:link{
		color: $color_orange;
	}

	&:visited{
		color: rgba($color_orange, 0.3);
	}
}

@import "dialog";
@import "main";
@import "error";
@import "success";
@import "edit";
@import "remove_complete";
@import "animation";
