//- 変数
//- VERSION はCSS等のパスにくっつけるので大きな更新したら変えること
-
	var VERSION = '1.0.0';
	var SITE_TITLE = 'DocumentRoot Changer';
	var PAGE_DESCRIPTION = 'DocumentRootをコントロール';
	var PAGE_KEYWORDS = 'DocumentRoot';
	var SITE_URL = 'http://localhost';
	var CONTENTS_PATH = '/';
	var ASSETS_PATH = '/assets/';
	var IMG_PATH = ASSETS_PATH + 'img/';
	var CSS_PATH = ASSETS_PATH + 'css/';
	var JS_PATH = ASSETS_PATH + 'js/';
	// var OG_IMAGE = SITE_URL + IMG_PATH + 'share/og.jpg';

	var PAGE_CLASS = [];
