/* -----------------------------------------------------------
reset
----------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700|Noto+Serif+JP:300,400,500,700&subset=japanese");
* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

q:before, q:after {
	content: '';
}

object,
embed {
	vertical-align: top;
}

hr, legend {
	display: none;
	border: none;
}

abbr, acronym, fieldset {
	border: 0;
}

tr, th, td, caption {
	vertical-align: top;
	font-style: normal;
	font-weight: normal;
	text-align: left;
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
}

img {
	border: 0;
	font-size: 0;
	line-height: 0;
	vertical-align: bottom;
}

body {
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.048em;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 300;
	-webkit-font-size-adjust: 100%;
	height: 100%;
}

body.freeze {
	width: 100%;
	position: fixed;
}

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
}

input[type="checkbox"] {
	width: 18px;
	height: 18px;
	border: 1px solid #666666;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.8em 0 0;
}

input[type="checkbox"]:before {
	width: 10px;
	content: '';
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	height: 3px;
	background: #cc0000;
	opacity: 0;
	transition: opacity 0.3s;
	transform: translate3d(-2.5px, 0, 0) rotate(60deg);
}

input[type="checkbox"]:after {
	width: 20px;
	content: '';
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	height: 3px;
	background: #cc0000;
	opacity: 0;
	transition: opacity 0.3s;
	transform: translate3d(2.5px, -3px, 0) rotate(-60deg);
}

input[type="checkbox"]:checked:before, input[type="checkbox"]:checked:after {
	opacity: 1;
}

a:link {
	color: #f87b22;
}

a:visited {
	color: rgba(248, 123, 34, 0.3);
}

/**
 * main
 */
.main {
	color: #ffffff;
	background: #1e1e1e;
}

.main .main-header {
	background: #000000;
	padding: 4px 10px;
}

.main .main-header h1 {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 300;
	font-size: 11px;
	color: #666666;
	text-align: right;
}

.main main .current-info {
	margin: 20px 20px 0 20px;
	line-height: 1;
}

.main main .current-info h2 {
	font-size: 11px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 500;
}

.main main .current-info p {
	margin: 10px 0 0 0;
}

.main main .current-info p.label {
	font-size: 16px;
}

.main main .current-info p.path {
	font-size: 12px;
	font-family: 'Ricty', 'Ricty Diminished', 'inconsolata', 'consolas', 'Courier New', monospace;
}

.main main .select-form {
	margin: 20px 20px 0 20px;
}

.main main .select-form .selector select {
	outline: 0;
	width: 100%;
	height: 400px;
	background: #d6d6d6;
	border: none;
	border-radius: 7px;
	padding: 7px 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
	font-size: 16px;
	line-height: 1;
}

.main main .select-form .selector select option {
	background: transparent;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	padding: 4px 7px;
}

.main main .select-form .selector select option[selected] {
	background: #cc0000;
	color: #ffffff;
}

.main main .select-form .selector select option.gf {
	border-top: 1px dotted #333333;
}

.main main .select-form .selector select option:first-child.gf {
	border-top: none;
}

.main main .select-form .buttons {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.main main .select-form .buttons ul {
	height: 40px;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	flex-wrap: wrap;
}

.main main .select-form .buttons ul li {
	width: 25%;
	height: 40px;
}

.main main .select-form .buttons ul li input,
.main main .select-form .buttons ul li button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	border: none;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0.24em;
}

.main main .select-form .buttons ul li input {
	background: #f87b22;
}

.main main .select-form .buttons ul li button {
	background: #004e9d;
}

.error-dialog {
	position: absolute;
	z-index: 1000;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	background: rgba(230, 230, 230, 0.9);
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3000;
	background: rgba(0, 0, 0, 0.8);
	color: #ffffff;
}

.error-dialog > .wrap {
	opacity: 0;
	max-width: 440px;
}

.error-dialog > .wrap h2 {
	font-size: 12px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
}

.error-dialog > .wrap dl {
	margin-top: 10px;
}

.error-dialog > .wrap dl dt {
	font-size: 14px;
	margin: 10px 0 0 0;
}

.error-dialog > .wrap dl dt:first-child {
	margin-top: 0;
}

.error-dialog > .wrap dl dd {
	display: flex;
}

.error-dialog > .wrap dl dd span {
	display: block;
	font-size: 16px;
	line-height: 32px;
}

.error-dialog > .wrap dl dd input[type="text"] {
	font-size: 16px;
	line-height: 32px;
	padding: 0 0.5em;
	line-height: 32px;
	border: 1px solid #999999;
	border-radius: 3px;
}

.error-dialog > .wrap dl.item-list {
	width: 400px;
	height: 400px;
	overflow: auto;
}

.error-dialog > .wrap dl.item-list dt {
	margin: 0;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
}

.error-dialog > .wrap dl.item-list dd {
	margin: 0;
	padding: 0 0 0 1em;
}

.error-dialog > .wrap .buttons {
	margin: 20px 0 0 0;
	display: flex;
	justify-content: center;
}

.error-dialog > .wrap .buttons li {
	margin: 0 0 0 10px;
}

.error-dialog > .wrap .buttons li:first-child {
	margin-left: 0;
}

.error-dialog > .wrap .buttons li a,
.error-dialog > .wrap .buttons li button,
.error-dialog > .wrap .buttons li input[type="submit"],
.error-dialog > .wrap .buttons li input[type="image"] {
	display: block;
	border: none;
	background: #f87b22;
	color: #ffffff;
	padding: 0 20px;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	text-decoration: none;
}

.error-dialog.open {
	animation: dialog-center-open 0.5s cubic-bezier(0.2, 0, 0.25, 1) forwards;
}

.error-dialog.open > .wrap {
	animation: dialog-contents-open 0.5s cubic-bezier(0.2, 0, 0.25, 1) 0.5s forwards;
}

.error-dialog.close {
	animation: dialog-center-close 0.5s cubic-bezier(0.2, 0, 0.25, 1) 0.5s both;
}

.error-dialog.close > .wrap {
	animation: dialog-contents-close 0.5s cubic-bezier(0.2, 0, 0.25, 1) both;
}

.error-dialog > .wrap .code {
	font-size: 12px;
}

.error-dialog > .wrap .message {
	margin-top: 10px;
}

.error-dialog > .wrap .help {
	margin-top: 10px;
	font-size: 12px;
}

.success-dialog {
	position: absolute;
	z-index: 1000;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	background: rgba(230, 230, 230, 0.9);
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2000;
	background: rgba(255, 255, 255, 0.9);
	color: #000000;
}

.success-dialog > .wrap {
	opacity: 0;
	max-width: 440px;
}

.success-dialog > .wrap h2 {
	font-size: 12px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
}

.success-dialog > .wrap dl {
	margin-top: 10px;
}

.success-dialog > .wrap dl dt {
	font-size: 14px;
	margin: 10px 0 0 0;
}

.success-dialog > .wrap dl dt:first-child {
	margin-top: 0;
}

.success-dialog > .wrap dl dd {
	display: flex;
}

.success-dialog > .wrap dl dd span {
	display: block;
	font-size: 16px;
	line-height: 32px;
}

.success-dialog > .wrap dl dd input[type="text"] {
	font-size: 16px;
	line-height: 32px;
	padding: 0 0.5em;
	line-height: 32px;
	border: 1px solid #999999;
	border-radius: 3px;
}

.success-dialog > .wrap dl.item-list {
	width: 400px;
	height: 400px;
	overflow: auto;
}

.success-dialog > .wrap dl.item-list dt {
	margin: 0;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
}

.success-dialog > .wrap dl.item-list dd {
	margin: 0;
	padding: 0 0 0 1em;
}

.success-dialog > .wrap .buttons {
	margin: 20px 0 0 0;
	display: flex;
	justify-content: center;
}

.success-dialog > .wrap .buttons li {
	margin: 0 0 0 10px;
}

.success-dialog > .wrap .buttons li:first-child {
	margin-left: 0;
}

.success-dialog > .wrap .buttons li a,
.success-dialog > .wrap .buttons li button,
.success-dialog > .wrap .buttons li input[type="submit"],
.success-dialog > .wrap .buttons li input[type="image"] {
	display: block;
	border: none;
	background: #f87b22;
	color: #ffffff;
	padding: 0 20px;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	text-decoration: none;
}

.success-dialog.open {
	animation: dialog-center-open 0.5s cubic-bezier(0.2, 0, 0.25, 1) forwards;
}

.success-dialog.open > .wrap {
	animation: dialog-contents-open 0.5s cubic-bezier(0.2, 0, 0.25, 1) 0.5s forwards;
}

.success-dialog.close {
	animation: dialog-center-close 0.5s cubic-bezier(0.2, 0, 0.25, 1) 0.5s both;
}

.success-dialog.close > .wrap {
	animation: dialog-contents-close 0.5s cubic-bezier(0.2, 0, 0.25, 1) both;
}

.success-dialog > .wrap h2 {
	color: #f87b22;
}

.success-dialog > .wrap h3 {
	font-size: 12px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
}

.success-dialog > .wrap .label {
	margin-top: 5px;
	font-size: 20px;
}

.success-dialog > .wrap .path {
	margin-top: 5px;
	font-size: 12px;
}

.edit-dialog {
	position: absolute;
	z-index: 1000;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	background: rgba(230, 230, 230, 0.9);
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	background: rgba(230, 230, 230, 0.9);
	color: #000000;
}

.edit-dialog > .wrap {
	opacity: 0;
	max-width: 440px;
}

.edit-dialog > .wrap h2 {
	font-size: 12px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
}

.edit-dialog > .wrap dl {
	margin-top: 10px;
}

.edit-dialog > .wrap dl dt {
	font-size: 14px;
	margin: 10px 0 0 0;
}

.edit-dialog > .wrap dl dt:first-child {
	margin-top: 0;
}

.edit-dialog > .wrap dl dd {
	display: flex;
}

.edit-dialog > .wrap dl dd span {
	display: block;
	font-size: 16px;
	line-height: 32px;
}

.edit-dialog > .wrap dl dd input[type="text"] {
	font-size: 16px;
	line-height: 32px;
	padding: 0 0.5em;
	line-height: 32px;
	border: 1px solid #999999;
	border-radius: 3px;
}

.edit-dialog > .wrap dl.item-list {
	width: 400px;
	height: 400px;
	overflow: auto;
}

.edit-dialog > .wrap dl.item-list dt {
	margin: 0;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
}

.edit-dialog > .wrap dl.item-list dd {
	margin: 0;
	padding: 0 0 0 1em;
}

.edit-dialog > .wrap .buttons {
	margin: 20px 0 0 0;
	display: flex;
	justify-content: center;
}

.edit-dialog > .wrap .buttons li {
	margin: 0 0 0 10px;
}

.edit-dialog > .wrap .buttons li:first-child {
	margin-left: 0;
}

.edit-dialog > .wrap .buttons li a,
.edit-dialog > .wrap .buttons li button,
.edit-dialog > .wrap .buttons li input[type="submit"],
.edit-dialog > .wrap .buttons li input[type="image"] {
	display: block;
	border: none;
	background: #f87b22;
	color: #ffffff;
	padding: 0 20px;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	text-decoration: none;
}

.edit-dialog.open {
	animation: dialog-center-open 0.5s cubic-bezier(0.2, 0, 0.25, 1) forwards;
}

.edit-dialog.open > .wrap {
	animation: dialog-contents-open 0.5s cubic-bezier(0.2, 0, 0.25, 1) 0.5s forwards;
}

.edit-dialog.close {
	animation: dialog-center-close 0.5s cubic-bezier(0.2, 0, 0.25, 1) 0.5s both;
}

.edit-dialog.close > .wrap {
	animation: dialog-contents-close 0.5s cubic-bezier(0.2, 0, 0.25, 1) both;
}

.add-dialog > .wrap dl dd input[name="add-label-group"] {
	width: 100px;
}

.add-dialog > .wrap dl dd input[name="add-label-name"] {
	width: 250px;
}

.add-dialog > .wrap dl dd input[name="add-path"] {
	width: 378px;
}

.remove-complete-dialog {
	position: absolute;
	z-index: 1000;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	background: rgba(230, 230, 230, 0.9);
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2000;
	background: rgba(255, 255, 255, 0.9);
	color: #000000;
}

.remove-complete-dialog > .wrap {
	opacity: 0;
	max-width: 440px;
}

.remove-complete-dialog > .wrap h2 {
	font-size: 12px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
}

.remove-complete-dialog > .wrap dl {
	margin-top: 10px;
}

.remove-complete-dialog > .wrap dl dt {
	font-size: 14px;
	margin: 10px 0 0 0;
}

.remove-complete-dialog > .wrap dl dt:first-child {
	margin-top: 0;
}

.remove-complete-dialog > .wrap dl dd {
	display: flex;
}

.remove-complete-dialog > .wrap dl dd span {
	display: block;
	font-size: 16px;
	line-height: 32px;
}

.remove-complete-dialog > .wrap dl dd input[type="text"] {
	font-size: 16px;
	line-height: 32px;
	padding: 0 0.5em;
	line-height: 32px;
	border: 1px solid #999999;
	border-radius: 3px;
}

.remove-complete-dialog > .wrap dl.item-list {
	width: 400px;
	height: 400px;
	overflow: auto;
}

.remove-complete-dialog > .wrap dl.item-list dt {
	margin: 0;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
}

.remove-complete-dialog > .wrap dl.item-list dd {
	margin: 0;
	padding: 0 0 0 1em;
}

.remove-complete-dialog > .wrap .buttons {
	margin: 20px 0 0 0;
	display: flex;
	justify-content: center;
}

.remove-complete-dialog > .wrap .buttons li {
	margin: 0 0 0 10px;
}

.remove-complete-dialog > .wrap .buttons li:first-child {
	margin-left: 0;
}

.remove-complete-dialog > .wrap .buttons li a,
.remove-complete-dialog > .wrap .buttons li button,
.remove-complete-dialog > .wrap .buttons li input[type="submit"],
.remove-complete-dialog > .wrap .buttons li input[type="image"] {
	display: block;
	border: none;
	background: #f87b22;
	color: #ffffff;
	padding: 0 20px;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	text-decoration: none;
}

.remove-complete-dialog.open {
	animation: dialog-center-open 0.5s cubic-bezier(0.2, 0, 0.25, 1) forwards;
}

.remove-complete-dialog.open > .wrap {
	animation: dialog-contents-open 0.5s cubic-bezier(0.2, 0, 0.25, 1) 0.5s forwards;
}

.remove-complete-dialog.close {
	animation: dialog-center-close 0.5s cubic-bezier(0.2, 0, 0.25, 1) 0.5s both;
}

.remove-complete-dialog.close > .wrap {
	animation: dialog-contents-close 0.5s cubic-bezier(0.2, 0, 0.25, 1) both;
}

@keyframes dialog-center-open {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}

@keyframes dialog-bottom-open {
	0% {
		height: 0;
	}
	100% {
		height: calc(100% - 40px);
	}
}

@keyframes dialog-base-open {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}

@keyframes edit-base-open {
	0% {
		height: 0;
	}
	100% {
		height: calc(100% - 40px);
	}
}

@keyframes dialog-contents-open {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dialog-center-close {
	0% {
		height: 100%;
	}
	100% {
		height: 0;
	}
}

@keyframes dialog-bottom-close {
	0% {
		height: calc(100% - 40px);
	}
	100% {
		height: 0;
	}
}

@keyframes dialog-base-close {
	0% {
		height: 100%;
	}
	100% {
		height: 0;
	}
}

@keyframes edit-base-close {
	0% {
		height: calc(100% - 40px);
	}
	100% {
		height: 0;
	}
}

@keyframes dialog-contents-close {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
/*# sourceMappingURL=style.css.map */
