@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700|Noto+Serif+JP:300,400,500,700&subset=japanese');

// noto sans
@mixin font_noto_sans{
	font-family:
		'Noto Sans JP',
		sans-serif
	;
}

@mixin sans_light {
	@include font_noto_sans;
	font-weight: 300;
}
@mixin sans_regular {
	@include font_noto_sans;
	font-weight: 400;
}
@mixin sans_medium {
	@include font_noto_sans;
	font-weight: 500;
}
@mixin sans_bold {
	@include font_noto_sans;
	font-weight: 700;
}



// noto serif
@mixin font_noto_serif{
	font-family:
		'Noto Serif JP',
		serif
	;
}

@mixin serif_light {
	@include font_noto_serif;
	font-weight: 300;
}
@mixin serif_regular {
	@include font_noto_serif;
	font-weight: 400;
}
@mixin serif_medium {
	@include font_noto_serif;
	font-weight: 500;
}
@mixin serif_bold {
	@include font_noto_serif;
	font-weight: 700;
}



// 游ゴシック
@mixin font_yu_sans{
	font-family:
		'游ゴシック',
		'ヒラギノ角ゴ Pro W3',
		'メイリオ',
		sans-serif
	;
}
@mixin yu_regular{
	@include font_yu_sans;
	font-weight: normal;
}
@mixin yu_bold{
	@include font_yu_sans;
	font-weight: bold;
}


@mixin monospace{
	font-family:
		'Ricty',
		'Ricty Diminished',
		'inconsolata',
		'consolas',
		'Courier New',
		monospace
	;
}
