

// vars

$z_index: (


	error: 3000,
	success: 2000,
	edit: 1000,

	main: 0
);

$dir_img: '/assets/img/';
$dir_img_pc: '/assets/img/pc/';
$dir_img_sp: '/assets/img/sp/';


$list_number: 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50;
$list_alpha_upper: 'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z';
$list_alpha_lower: 'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z';
$list_hiragana: 'あ','い','う','え','お','か','き','く','け','こ','さ','し','す','せ','そ','た','ち','つ','て','と','な','に','ぬ','ね','の','は','ひ','ふ','へ','ほ','ま','み','む','め','も','や','ゐ','ゆ','ゑ','よ','ら','り','る','れ','ろ','わ','を','ん';
$list_katakana: 'ア','イ','ウ','エ','オ','カ','キ','ク','ケ','コ','サ','シ','ス','セ','ソ','タ','チ','ツ','テ','ト','ナ','ニ','ヌ','ネ','ノ','ハ','ヒ','フ','ヘ','ホ','マ','ミ','ム','メ','モ','ヤ','ヰ','ユ','ヱ','ヨ','ラ','リ','ル','レ','ロ','ワ','ヲ','ン';

$char_kome: '\203b';
$char_dot: '\30fb';

$opa_hover: 0.7;
$dur_hover: 0.5s;

$brakepoint: 769px;

$bez_standard: cubic-bezier(.2,0,.25,1);


$wid_pc_1: 1200;
$wid_pc_2: 1000;

$color_blue: #004e9d;
$color_orange: #f87b22;
