extends ./__pug/_layout.pug

//- 変数定義
block append vars
	- var OWN_TITLE = '';
	- var OWN_URL = CONTENTS_URL
	- PAGE_CLASS.push('main');

//- head


block append javascript
	script(src = '/assets/js/app.js?v=' + VERSION)



block header
	header.main-header
		h1 DocumentRoot Changer

block main
	main
		section.current-info
			h2 現在のDocumentRootは
			p.label
				| 本サイト
			p.path
				| /Users/hiroki/Sites/jr-central.co.jp/htdocs

		form.select-form
			.selector
				select#selector(name="q", size="10")
			.buttons
				ul
					li
						input(type='submit', name='submit', value='変更')
					li
						button.add
							| 追加
					li
						button.remove
							| 削除
					li
						button.remove
							| 編集

	section.error-dialog
		.wrap
			h2 Error
			p.code 201
			p.message currentファイルの書き込みに失敗しました
			p.help
				| よくわからない場合は
				a(href = 'https://tdwteamshare.slack.com/app_redirect?channel=@ichikawa.hiroki', target = '_blank')
					| @ichikawa.hiroki
				| まで
			ul.buttons
				li
					a.close-button(href = '#') 閉じる

	section.success-dialog
		.wrap
			h2 Complete
			h3 新しいDocumentRootは
			p.label
				| 本サイト
			p.path
				| /Users/hiroki/Sites/jr-central.co.jp/htdocs
			ul.buttons
				li
					a.close-button(href = '#') 閉じる

	section.edit-dialog.add-dialog
		form.add-form.wrap
			h2 追加
			dl
				dt
					label(for = 'add-label-group') 名前
				dd.label
					span
						input#add-label-group(type = 'text', name = 'add-label-group', list = 'add-group-list', value = '', placeholder = 'グループ')
						datalist#add-group-list
					span
						| _
					span
						input#add-label-name(type = 'text', name = 'add-label-name', value = '', placeholder = '名前')
				dt
					label(for = 'add-path') パス
				dd.path
					span
						input#add-path(type = 'text', name = 'add-path', list = 'add-path-list', value = '', placeholder = 'パス')
						datalist#add-path-list
			ul.buttons
				li
					input(type = 'submit', name = 'add-submit', value = '追加')
				li
					a.close-button(href = '#') 閉じる

	section.edit-dialog.remove-dialog
		form.remove-form.wrap
			h2 削除
			dl.item-list


			ul.buttons
				li
					input(type = 'submit', name = 'remove-submit', value = '削除')
				li
					a.close-button(href = '#') 閉じる

	section.remove-complete-dialog
		.wrap
			h2 完了
			h3 削除完了しました
			ul.buttons
				li
					a.close-button(href = '#') 閉じる
